* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

.tile_title {
	color: white;
	direction: rtl;
	text-align: center;
	font-size: 48px;
}

.tile {
		border: 3px solid transparent;
		width: 300px;
		height: 300px;
		margin-bottom: 40px;
    	margin-right: 40px;
    	float: left;
	}
	
.tile img {
		width: 260px;
		height: 260px;
		margin: 0px auto;
		display:block
	}

.active_list {
		border: 3px solid transparent;
		width: 1000px;
		height: 100px;
		margin-bottom: 20px;
    	margin-right: 20px; 
    	text-align: right;
    	direction: rtl;    		
	}
	
.active_list_title {
	color: white;
	direction: rtl;
	text-align: right;
	font-size: 48px;
}

.content {
	direction: rtl;
	text-align:right;
}

.loading_text {
	direction: rtl;
    font-size: 54px;
    margin: 0px;
    color: white;
    font-style: italic;
}

body {
    margin: 50px auto;
    background-color: #ffffff;
}

h1 {
	direction: rtl;
    font-size: 72px;
    margin: 0px;
    color: white;
}

header h2 {
	direction: rtl;
    font-size: 54px;
    margin: 0px;
    color: white;
    font-style: italic;
}

nav ul {
    list-style: none;
    padding: 20px;
    display: block;
    clear: right;
    background-color: #666;
    padding-left: 4px;
    height: 48px;
}

nav ul li {
    display: inline;
    padding: 0px 20px 5px 10px;
    border-right: 1px solid #ccc;
}

nav ul li a {
    color: #EFD3D3;
    text-decoration: none;
    font-size: 39px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #fff;
}

article > header h1 {
    font-size: 60px;
    margin-left: 14px;
}

article > header h1 a {
    color: #993333;
}

article > header h1 img {
    vertical-align:middle;
}

article > section header h1 {
    font-size: 48px;
}

article p {
    clear: both;
}

footer p {
    text-align: center;
    font-size: 36px;
    color: #888;
    margin-top: 30px;
}
